/* General Styling */

@font-face {
  font-family: "SF Pro";
  src: url(./sf-pro-display-cufonfonts/SFPRODISPLAYREGULAR.OTF);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url(./sf-pro-display-cufonfonts/SFPRODISPLAYMEDIUM.OTF);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SF Mono";
  src: url(./sf-mono-cufonfonts-webfont/SFMonoRegular.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Mono";
  src: url(./sf-mono-cufonfonts-webfont/SFMonoBold.woff);
  font-weight: bold;
  font-style: normal;
}

:root {
  --section-background-color: hsl(216, 29%, 17%);
  --nav-bar-background-color: #000;
  --nav-bar-hover-background-color: rgb(147, 147, 147);
  --nav-text-color: #fdf6e3;
  --text-color: #fdf6e3;
  --header-text-right-color: hsl(21.692, 72%, 35%);
  --header-text-count: 0;
  --header-text-color: var(--text-color);
  --header-animation-speed: 5s;
  --header-cursor-animation-timeout: infinite;
  --header-cursor-effect: normal;
  --valid-color: #3ecf8f;
  --invalid-color: #e65849;
}

*,
*::before,
*::after {
  font-family: "SF Pro", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--text-color);
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  color: #fff;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  margin-inline: auto;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  position: relative;
  height: 100svh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  text-align: center;
  background-color: var(--section-background-color);
}

input[type="text"],
input[type="email"],
textarea {
  background-color: var(--section-background-color);
  font-size: large;
  border: 0;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
  height: 30px;
  width: 60%;
}

textarea {
  overflow: auto;
  resize: none;
  color: #ffffff;
  overflow-y: scroll;
  max-height: 20%;
}

.no_scrollbar::-webkit-scrollbar {
  display: none;
}

.no_scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input[type="reset"],
input[type="submit"] {
  width: 7rem;
  height: 2rem;
  color: #000;
  font-size: 1rem;
  border-radius: 1rem;
}

input:focus,
input:active {
  outline: aqua 2px solid;
}

.content_wrapper {
  text-align: center;
  margin: 2%;
}

.header {
  position: absolute;
  top: 0;
  font-size: clamp(2.5rem, 5vw, 4rem);
  font-weight: bold;
}

.sub_header {
  font-size: clamp(1.5rem, 5vw, 3rem);
}

.content {
  font-size: clamp(1rem, 3vw, 1.5rem);
}

.svg_container {
  position: absolute; 
  left: -200svw;
}

/* -------------------------- Navigation Bar Styling --------------------------

.nav_bar {
  position: relative;
  width: 100vw;
  height: 3rem;
  background-color: var(--nav-bar-background-color);
}

.nav_container.active {
  left: 0vw;
}

.nav_container {
  position: absolute;
  left: -127px;
  transition: left 0.5s ease;
}

.nav_content {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-rows: repeat(6, 1fr);
  list-style-type: none;
}

.nav_items_container {
  width: 8rem;
}

.nav_item {
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  text-align: center;
  color: var(--nav-text-color);
  background-color: var(--nav-bar-background-color);
  transition: background-color 0.5s;
}

.nav_item:hover {
  background-color: var(--nav-bar-hover-background-color);
}

.nav_icon {
  position: absolute;
  width: 3rem;
  padding: 0.3rem;
  transition: transform 0.5s ease;
}

.nav_icon.active {
  transform: translateX(126px) rotate(90deg);
}

.nav_icon:hover {
  cursor: pointer;
}

.nav_icon_lines {
  width: 1.57rem;
} */

/* Intro Styling */

.hello_wrapper {
  transform: translateY(50%);
  animation: move-up 2s forwards 4.4s;
  z-index: 1;
}

.hello {
  height: 100%;
  width: 100%;
  transform: scale(1);
  stroke-dasharray: 2023.04443359375;
  stroke-dashoffset: 2023.04443359375;
  animation: writing-hello 4s ease-in-out forwards;
}

@keyframes writing-hello {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes move-up {
  to {
    scale: clamp(0.6, 0.3, 1.5);
    transform: translateY(0);
  }
}

.intro_wrapper {
  position: relative;
}

.intro_wrapper::before {
  content: "";
  position: absolute;
  background-color: var(--section-background-color);
  left: 50%;
  bottom: -25px;
  padding-right: 0;
  z-index: 1;
  border-bottom: 12px solid black;
  animation: expand-up 4s forwards 4s, lift-up 1.9s forwards 4.4s;
}

.intro_wrapper::after {
  content: "";
  position: absolute;
  background-color: var(--section-background-color);
  right: 50%;
  bottom: -25px;
  padding-left: 0;
  border-top: 12px solid black;
  animation: expand-down 4s forwards 4s, lift-down 1.9s forwards 4.4s;
}

@keyframes expand-up {
  18% {
    left: -7%;
    padding-right: 110%;
  }
  100% {
    left: -7%;
    padding-right: 110%;
  }
}

@keyframes expand-down {
  18% {
    right: -3%;
    padding-left: 110%;
  }
  100% {
    right: -3%;
    padding-left: 110%;
  }
}

@keyframes lift-up {
  to {
    bottom: 100%;
  }
}

@keyframes lift-down {
  to {
    bottom: 0;
  }
}

.intro {
  font-size: clamp(4rem, 12vw + 1rem, 12rem);
  width: fit-content;
  position: relative;
  opacity: 1;
  font-family: "Bilbo Swash Caps", cursive;
  padding: 0 30px 0 0;
  margin: 0;
}

.intro::before {
  content: "";
  position: absolute;
  inset: 0;
  height: 100%;
  background-color: var(--section-background-color);
  animation: visible 1.9s forwards 4.5s;
}

@keyframes visible {
  to {
    height: 0%;
  }
}

/* About Me Styling */

.hobbies_container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #fff;
  border-radius: 1rem;
  height: 60svh;
}

.hobbies_item_wrapper {
  position: relative;
}

.hobbies_header, .hobbies_item {
  display: flex;
  align-items: center;
  color: rgb(95, 95, 95);
  margin: auto;
} 

.hobbies_item {
  margin: 0 0 1rem 5%;
}

.hobby {
  position: absolute;
  left: 100px;
  top: 45px;
  scale: 3.5;
  animation: progress-bar__icon 3s ease-in-out forwards;
}

/* .hobby[data-hobby="music"] {
  left: 90px;
} */

.time_spend {
  margin: auto;
  display: flex;
  background-color: var(--section-background-color);
  width: 90%;
  height: 2rem;
  border-radius: 1rem;
  overflow: hidden;
}

.time_spend::before {
  content: "";
  inset: 0;
  width: 1.65%;
  background-color: aqua;
  margin: 0.5rem;
  border-radius: 1rem;
  animation: progress-bar 3s ease-in-out forwards;
}

[data-hobbies="Vibing"] .time_spend::before, [data-hobby="music"] {
  animation-delay: 1s;
  --width: 0.6;
}

[data-hobbies="Gaming"] .time_spend::before, [data-hobby="game"] {
  animation-delay: 4s;
  --width: 0.4;
}

[data-hobbies="Learning"] .time_spend::before, [data-hobby="learn"] {
  animation-delay: 7s;
  --width: 0.8;
}

[data-hobbies="Coding"] .time_spend::before, [data-hobby="code"] {
  animation-delay: 10s;
  --width: 1;
}

@keyframes progress-bar__icon {
  to {
    left: calc(95% * var(--width));
  }
}

@keyframes progress-bar {
  to {
    width: calc(98.5% * var(--width));
  }
}

/* Learning Styling */

.section_header {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
}

.header_text.left {
  transition: transform 0.5s ease;
}

.header_text.right {
  position: relative;
  font-family: "SF Mono";
  font-weight: bold;
  color: springgreen;
  animation: typing-words-effect 3s forwards steps(var(--header-text-count));
}

.header_text.right::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--section-background-color);
  animation: toolkit-typing 5s forwards steps(var(--header-text-count))
    infinite;
}

@keyframes toolkit-typing {
  20% {
    left: 0;
  }
  50%,
  85% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

.header_text.right::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 0.5rem;
  animation: toolkit-typing 5s forwards steps(var(--header-text-count))
      infinite,
    blink 1s infinite;
  background-color: #fff;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}

/* For Small Device 
@media screen and (max-width: 222px) {
  .section_header::before {
    display: none;
  }

  .section_header::after {
    display: none;
  }

  .header_text.left::before {
    content: "";
    position: absolute;
    inset: 0;
    height: 33px;
    width: 82px;
    left: 15px;
    background-color: var(--webpage-background-color) ;
    animation: typing-words-effect 3s forwards steps(7);
  }

  .header_text.left::after {
    content: "";
    position: absolute;
    inset: 0;
    height: 2.5rem;
    display: none;
    background-color: var(--header-text-color);
    animation: 
    typing-words-effect 3s forwards steps(7),
    typing-cursor-effect 0.5s var(--header-cursor-effect) steps(var(--header-text-count)) var(--header-cursor-animation-timeout);
    width: 0.125rem;
  }

  .header_text.right::before{
    content: "";
    position: absolute;
    height: 33px;
    inset: 0;
    background-color: var(--webpage-background-color) ;
    animation: typing-words-effect 5s forwards steps(13) 3s;
  }

  .header_text.right::after{
    content: "";
    position: absolute;
    height: 2.5rem;
    inset: 0;
    background-color: var(--header-text-color);
    animation: 
    typing-words-effect 5s forwards steps(13) 3s,
      typing-cursor-effect 0.5s var(--header-cursor-effect) steps(var(--header-text-count)) var(--header-cursor-animation-timeout);
    width: 0.125rem;
  }
}   */

/*-------------------------- Welcome Message Styling--------------------------*/

.welcome_message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  opacity: 0;
  font-size: 3.5rem;
  transform: translateY(50px);
  animation: fade-in-drop 2s ease-in-out 6s forwards;
}

@keyframes fade-in-drop {
  50% {
    opacity: 0.6;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Contact Form Styling */

.contact_form {
  height: 60svh;
  width: 70svw;
}

.form_container {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.contact_input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem auto;
}

.icon[data-icon="subject"] {
  scale: 1.2;
}

.icon_wrapper {
  position: absolute;
  left: 0;
  translate: 14.5svw -5px;
  display: flex;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

.icon_wrapper:hover {
  cursor: text;
}

.icon {
  margin-right: 0.25rem;
  height: 24px;
  width: 24px;
}

.contact_btn {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  gap: 40%;
}
