:root {
  --webpage-background-color: hsl(40, 78%, 95%); /* Supporting colors stay close to base's colors' S, B */
  --nav-bar-background-color: #000;
  --nav-bar-hover-background-color: rgb(147, 147, 147);
  --nav-text-color: #fff;
  --text-color: hsl(235.748, 94%, 22%);
  --intro-header-right-color: hsl(21.692, 72%, 35%);
  --header-text-count: 0;
} 

*,
*::before,
*::after {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--text-color);
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--webpage-background-color);
}

/*-------------------------- Navigation Bar Styling --------------------------*/

.nav_bar {
  position: relative;
  width: 100vw;
  height: 3rem;
  background-color: var(--nav-bar-background-color);
}

.nav_container.active {
  left: 0vw;
}

.nav_container {
  position: absolute;
  left: -127px;
  transition: left 0.5s ease;
}

.nav_content {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-rows: repeat(6, 1fr);
  list-style-type: none;
}

.nav_items_container {
  width: 8rem;
}

.nav_item {
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  text-align: center;
  color: var(--nav-text-color);
  background-color: var(--nav-bar-background-color);
  transition: background-color 0.5s;
}

.nav_item:hover {
  background-color: var(--nav-bar-hover-background-color);
}

.nav_icon {
  position: absolute;
  width: 3rem;
  padding: 0.3rem;
  transition: transform 0.5s ease;
}

.nav_icon.active {
  transform: translateX(126px) rotate(90deg);
}

.nav_icon:hover {
  cursor: pointer;
}

.nav_icon_lines {
  width: 1.57rem;
}

/*-------------------------- Section Styling --------------------------*/

.main_content {
  text-align: center;
}

.section_header::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: /* var(--webpage_background_color) */ #000;
  animation: section-header-animation 9s forwards steps(var(--header-text-count));
}

.section_header::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: /* var(--webpage_background_color) */ #000;
  animation: section-header-animation 9s forwards steps(var(--header-text-count));
}


.section_header {
  display: inline-flex;
  position: relative;
  font-family: "Space Mono", monospace;
  justify-content: center;
  align-items: center;
}

.header_text {
  display: inline-flex;
  font-family: "Space Mono", monospace;
}

.header_text.right {
  color: var(--intro-header-right-color);
}

.text_content {
  padding: 0 100px;
  text-align: left;
  transition: padding-left 0.5s ease;
}

.text_content.active {
  padding-left: 179px;
}

@keyframes section-header-animation {
  0% {
    left: 0%;
  }
  35% {
    left: 35%;
  }
  90% {
    left: 35%;
  }
  100% {
    left: 100%;
  }
}
