/* General Styling */

@font-face {
  font-family: "SF Pro";
  src: url(./sf-pro-display-cufonfonts/SFPRODISPLAYREGULAR.OTF);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url(./sf-pro-display-cufonfonts/SFPRODISPLAYMEDIUM.OTF);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SF Mono";
  src: url(./sf-mono-cufonfonts-webfont/SFMonoRegular.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Mono";
  src: url(./sf-mono-cufonfonts-webfont/SFMonoBold.woff);
  font-weight: bold;
  font-style: normal;
}

:root {
  --section-background-color: hsl(216, 29%, 17%);
  --nav-bar-background-color: #000;
  --nav-bar-hover-background-color: rgb(147, 147, 147);
  --nav-text-color: #fff;
  --text-color: #fff;
  --header-text-right-color: hsl(21.692, 72%, 35%);
  --header-text-count: 0;
  --header-text-color: var(--text-color);
  --header-animation-speed: 5s;
  --header-cursor-animation-timeout: infinite;
  --header-cursor-effect: normal;
  --valid-color: #3ecf8f;
  --invalid-color: #e65849;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  font-family: "SF Pro", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--text-color);
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color: #fff;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin-inline: auto;
  display: grid;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100svh;
  min-width: 100%;
  place-items: center;
  align-content: center;
  position: relative;
  text-align: center;
  background-color: var(--section-background-color);
}

@media screen and (max-width: 600px) {
  .section {
    height: 50vh; /* Half viewport height for screens up to 600px wide */
  }
}

input[type="text"],
input[type="email"],
textarea {
  background-color: var(--section-background-color);
  font-size: large;
  border: 0;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
  height: 30px;
  width: 60%;
}

textarea {
  overflow: auto;
  resize: none;
  color: #ffffff;
  overflow-y: scroll;
  max-height: 20%;
}

.no_scrollbar::-webkit-scrollbar {
  display: none;
}

.no_scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input[type="reset"],
input[type="submit"] {
  width: 7rem;
  height: 2rem;
  color: #000;
  font-size: 1rem;
  border-radius: 1rem;
}

input:focus,
input:active {
  outline: aqua 2px solid;
}

.content_wrapper {
  text-align: center;
  margin: 2%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.header {
  top: 0;
  margin: 2rem;
  font-size: clamp(2.5rem, 5vw, 4rem);
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.sub_header {
  margin-bottom: 1.5rem;
  font-size: clamp(1.5rem, 5vw, 3rem);
}

.content {
  font-size: clamp(1rem, 3vw, 1.5rem);
}

.icon_wrapper {
  position: absolute;
  left: 0;
  translate: 14.5svw -5px;
  display: flex;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

.icon_wrapper:hover {
  cursor: text;
}

.icon {
  margin-right: 0.25rem;
  height: 24px;
  width: 24px;
}

.svg_container {
  position: absolute; 
  left: -9999svw;
  opacity: 0;
}

/* -------------------------- Navigation Bar Styling -------------------------- */
.nav_bar {
  position: fixed;
  width: 100svw;
  z-index: 9999;
  font-size: clamp(0.5rem, 45vw + 1em, 1rem);
}

.nav_item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-decoration: none;
  padding-inline: 1.81rem;
  padding-block: 1rem;
  font-size: clamp(1rem, 2vw, 2rem);
}

.nav_items_container {
  opacity: 0.8;
  position: relative;
  /* top: 0; */
  z-index: -10;
  /* width: 100svw; */
  background-color: var(--nav-bar-background-color);
  transition: all 1s ease-in-out;
}

.nav_items_container:nth-child(1) {
  transform: translateY(-100%);
  z-index: 6;
}
.nav_items_container:nth-child(2) {
  transform: translateY(-200%);
  z-index: 5;
}
.nav_items_container:nth-child(3) {
  transform: translateY(-300%);
  z-index: 4;
}
.nav_items_container:nth-child(4) {
  transform: translateY(-400%);
  z-index: 3;
}
.nav_items_container:nth-child(5) {
  transform: translateY(-500%);
  z-index: 2;
}

li.nav_items_container.checked {
  opacity: 1;
  transform: translateY(0);
}

/* .nav_content.checked {
  opacity: 1;
  transform: translateY(0);
} */

.menu-icon {
  position: relative;
  z-index: 999999;
}

.nav_icon {
  position: absolute;
  z-index: 100;
  width: 3rem;
  height: calc(3rem + 2svw);
  background-color: #000;
}

.media-icons {
  width: 80%;
  height: 80%;
}

.menu-icon input {
  z-index: 99999999;
  position: absolute;
  width: 100svw;
  height: calc(2rem + 2svw);
  top: 0;
  left: 0;
  outline: none;
  appearance: none;
  cursor: pointer;
}

[data-menu="nav-bar"] {
  width: 100svw;
  height: calc(2svw + 2rem);
  background-color: var(--nav-bar-background-color);
  padding-bottom: 0;
  padding-top: 0.3rem;
}

@media only screen and (min-width: 600px) {
  section {

  }
}
 
.profile-pic {
  border-radius: 50%;
  width: 10%;
}

.nav_content {
  /* background-color: var(--nav-bar-background-color); */
  /* transform: translateY(-100%); */
  /* opacity: 0.8; */
  transition: transform 1s ease, opacity 1s ease;
}

/* .nav_bar {
  position: relative;
  width: 100vw;
  height: 3rem;
  background-color: var(--nav-bar-background-color);
}

.nav_container.active {
  left: 0vw;
}

.nav_container {
  position: absolute;
  left: -127px;
  transition: left 0.5s ease;
}

.nav_content {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-rows: repeat(6, 1fr);
  list-style-type: none;
}

.nav_items_container {
  width: 8rem;
}

.nav_item {
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  text-align: center;
  color: var(--nav-text-color);
  background-color: var(--nav-bar-background-color);
  transition: background-color 0.5s;
}

.nav_item:hover {
  background-color: var(--nav-bar-hover-background-color);
}

.nav_icon {
  position: absolute;
  width: 3rem;
  padding: 0.3rem;
  transition: transform 0.5s ease;
}

.nav_icon.active {
  transform: translateX(126px) rotate(90deg);
}

.nav_icon:hover {
  cursor: pointer;
}

.nav_icon_lines {
  width: 1.57rem;
} */

/* Intro Styling */

.hello_wrapper {
  transform: translateY(35%);
  animation: shrink 2s forwards 4.4s;
  z-index: 1;
}

.hello {
  height: 100%;
  width: 100%;
  transform: scale(1);
  stroke-dasharray: 2023.04443359375;
  stroke-dashoffset: 2023.04443359375;
  animation: writing-hello 4s ease-in-out forwards;
}

@keyframes writing-hello {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes shrink {
  to {
    transform: scale(0.6) ;
  }
}

@keyframes expand-up {
  18% {
    left: -7%;
    padding-right: 110%;
  }
  100% {
    left: -7%;
    padding-right: 110%;
  }
}

@keyframes expand-down {
  18% {
    right: -3%;
    padding-left: 110%;
  }
  100% {
    right: -3%;
    padding-left: 110%;
  }
}

@keyframes lift-up {
  to {
    bottom: 100%;
  }
}

@keyframes lift-down {
  to {
    bottom: 0;
  }
}

/* Intro Animation */
.intro_wrapper {
  position: relative;
  width: clamp(26em, 45vw, 56em);
}

.intro-elements {
  stroke: #000;
  fill: transparent;
  animation: draw 2s forwards ease 4.4s,
             fill_black 1s forwards ease 6.4s;
}

.intro-text__svg {
  stroke: #fff;
  fill: transparent;
  opacity: 0;
  animation: draw 31s forwards ease 2s,
             fade-in 6s forwards ease-in-out 1s,
             fill_white 1s forwards ease 6.4s;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

/* #upper_main, #lower_main {
  stroke-dasharray: 190.8572540283203;
  stroke-dashoffset: 190.8572540283203;
  animation: draw 2s ease-in-out forwards;
} */

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill_black {
  to {
    fill: #000;
  }  
}

@keyframes fill_white {
  to {
    fill: #fff;
  }
}

/*-------------------------- Welcome Message Styling--------------------------*/

.welcome_message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  opacity: 0;
  font-size: 3.5rem;
  transform: translateY(50px);
  animation: fade-in-drop 1.5s ease-in-out 5.5s forwards;
}

@keyframes fade-in-drop {
  50% {
    opacity: 0.6;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/* .intro {
  opacity: 0;
  animation: visible 2s ease-in-out 6s forwards;
}

@keyframes visible {
  to {
    opacity: 1;
  }
} */

/* .intro {
  font-size: clamp(4rem, 12vw + 1rem, 10rem);
  position: relative;
  opacity: 1;
  font-family: "Bilbo Swash Caps", cursive;
  padding: 0 30px 0 0;
  margin: 0;
}

.intro::before {
  content: "";
  position: absolute;
  inset: 0;
  height: 100%;
  background-color: var(--section-background-color);
  animation: visible 1.9s forwards 4.5s;
} */

/* @keyframes visible {
  to {
    height: 0%;
  }
} */

/*-------------------------- About Me Styling --------------------------*/

.hobbies_container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #fff;
  border-radius: 1rem;
  height: 500px;
}

.hobbies_item_wrapper {
  position: relative;
}

.hobbies_header, .hobbies_item {
  display: flex;
  align-items: center;
  color: rgb(95, 95, 95);
  margin: auto;
} 

.hobbies_item {
  margin: 0 0 1rem 5%;
}

.hobby {
  position: absolute;
  height: clamp(4em, calc(1vw + 1vh), 5em);
  width: 15%;
  left: 0px;
  top: 18%;
  animation: progress-bar__icon 3s ease-in-out forwards;
  animation-play-state: paused;
}

.time_spend {
  margin: auto;
  display: flex;
  background-color: var(--section-background-color);
  width: 90%;
  height: 2rem;
  border-radius: 1rem;
  overflow: hidden;
}

.time_spend::before {
  content: "";
  inset: 0;
  width: 1em;
  background-color: aqua;
  margin: 0.5rem;
  border-radius: 1rem;
  animation: progress-bar 3s ease-in-out forwards;
  animation-play-state: paused;
}

.time_spend.start-animation::before, .start-animation {
  animation-play-state: running;
}

[data-hobbies="Vibing"] .time_spend::before, [data-hobby="music"] {
  animation-delay: 1s;
  --width: 0.6;
}

[data-hobby="music"] {
  scale: 0.8;
}

[data-hobbies="Gaming"] .time_spend::before, [data-hobby="game"] {
  animation-delay: 4s;
  --width: 0.4;
}

[data-hobbies="Learning"] .time_spend::before, [data-hobby="learn"] {
  animation-delay: 7s;
  --width: 0.8;
}

[data-hobbies="Coding"] .time_spend::before, [data-hobby="code"] {
  animation-delay: 10s;
  --width: 1;
}

@keyframes progress-bar__icon {
  to {
    left: calc(90% * var(--width) - 20px * var(--width));
  }
}

@keyframes progress-bar {
  to {
    width: calc(98.5% * var(--width));
  }
}

/* Learning Styling */

.section_header {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
}

.header_text.left {
  transition: transform 0.5s ease;
}

.header_text.right {
  position: relative;
  font-family: "SF Mono";
  font-weight: bold;
  color: springgreen;
  animation: typing-words-effect 3s forwards steps(var(--header-text-count));
}

.header_text.right::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--section-background-color);
  animation: toolkit-typing 5s forwards steps(var(--header-text-count))
    infinite;
}

@keyframes toolkit-typing {
  20% {
    left: 0;
  }
  50%,
  85% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

.header_text.right::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 0.5rem;
  animation: toolkit-typing 5s forwards steps(var(--header-text-count))
      infinite,
    blink 1s infinite;
  background-color: #fff;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}

/* For Small Device  */
/* @media screen and (max-width: 222px) {
  .section_header::before {
    display: none;
  }

  .section_header::after {
    display: none;
  }

  .header_text.left::before {
    content: "";
    position: absolute;
    inset: 0;
    height: 33px;
    width: 82px;
    left: 15px;
    background-color: var(--webpage-background-color) ;
    animation: typing-words-effect 3s forwards steps(7);
  }

  .header_text.left::after {
    content: "";
    position: absolute;
    inset: 0;
    height: 2.5rem;
    display: none;
    background-color: var(--header-text-color);
    animation: 
    typing-words-effect 3s forwards steps(7),
    typing-cursor-effect 0.5s var(--header-cursor-effect) steps(var(--header-text-count)) var(--header-cursor-animation-timeout);
    width: 0.125rem;
  }

  .header_text.right::before{
    content: "";
    position: absolute;
    height: 33px;
    inset: 0;
    background-color: var(--webpage-background-color) ;
    animation: typing-words-effect 5s forwards steps(13) 3s;
  }

  .header_text.right::after{
    content: "";
    position: absolute;
    height: 2.5rem;
    inset: 0;
    background-color: var(--header-text-color);
    animation: 
    typing-words-effect 5s forwards steps(13) 3s,
      typing-cursor-effect 0.5s var(--header-cursor-effect) steps(var(--header-text-count)) var(--header-cursor-animation-timeout);
    width: 0.125rem;
  }
}   */

/* Contact Form Styling */

.contact_form {
  /* height: 60svh; */
  opacity: 0;
  width: 70svw;
  transition: opacity 0.5s ease-in-out;
}

.form_container {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.contact_input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem auto;
}

.icon[data-icon="subject"] {
  scale: 1.2;
}

.contact_btn {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  gap: 40%;
}

/* -------------------------- JavaScript Styling -------------------------- */
.fade-in {
  opacity: 1;
}


